@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./variables.scss";
@import "./presets.scss";

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.site-wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content"
    ;
    height: 100vh;

    //SIDEBAR
    .sidebar{
        background-color: $light-red;
        color: $offwhite;
        grid-area: sidebar;
        padding: 1em;
        font-weight: 600;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 3fr;

        .sidebar-title{
            font-size: 2em;

            .icon-text{
                svg{
                    width: 1.5em;
                }
            }
        }

        .sidebar-nav, .sidebar-help{
            font-size: 1.5em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-left: .5em;

            .icon-text{
                svg{
                    width: 1em;
                }
            }
        }

        .sidebar-help{
            margin-top: 1.5em;
        }
    }
    //HEADER
    .header{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        background-color: $offwhite;
        grid-area: header;
        padding: 1em;
        font-weight: 700;
        padding: 1em 3em ;


        .top-section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .search-bar{
                display: flex;
                align-items: center;
                gap: 10px;

                svg{
                    width: 2.5em;
                }

                input{
                    height: 2em;
                    border: none;
                    border-radius: 20px;
                    background-color: lightgray;
                    width: clamp(200px ,30vw, 500px);
                    padding-left: 10px;
                    font-size: 1.15em;
                }

            }
            .account-info{
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 20px;

                img{
                    width: 2.5em;
                    border: 2px solid black;
                    border-radius: 25px;
                }
            }
        }

        .bottom-section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .left-side{
                display: flex;
                align-items: center;
                gap: 15px;


                img{
                    width: 4em;
                    border: 2px solid black;
                    border-radius: 100px;
                }
                .greeting{
                    display: grid;
                    grid-template-columns: 1fr;
                    .hi-wrapper{
                        font-size: 0.8em;
                    }
                    .name-username-wrapper{
                        font-size: 1.5em;
                    }
                }
            }
            .right-side{
                display: flex;
                justify-content: right;
                align-items: center;
                .buttons-wrapper{  
                    display: flex;
                    gap: 20px;
                    
                    .btn{
                        width: 100px;
                        background-color: $light-red;
                        color: $offwhite;
                        border: none;
                        border-radius: 25px;
                        padding: 10px;
                        font-size: 1.25em;
                        font-weight: 600;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover{
                            letter-spacing: 1px;
                            box-shadow: -7px 5px 120px -44px rgba(0,0,0,0.75) inset;
                            color: white;
                        }
                    }
                }


            }
        }
    }
    //CONTENT
    .content{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "p a"
        "p t"
        ;
        grid-gap: 20px;
        background-color: $light-gray;
        grid-area: content;
        box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75) inset;
        padding: 50px 40px;

        //PROJECTS
        .projects{
            grid-area: p;
            display: flex;
            flex-direction: column;

            .projects-wrapper{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(330px, 3fr));
                grid-gap: 15px;

                .project{
                    background-color: $offwhite;
                    border-left: 10px $dark-gray solid;
                    border-radius: 10px;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;

                    .title{
                        font-size: 1.3em;
                    }
                    .description{
                        color: rgb(75, 75, 75);
                    }
                    .icons{
                        margin: 10px 5px;
                        display: flex;
                        justify-content: right;
                        gap: 1em;
                        
                        svg{
                            cursor: pointer;
                        }
                    }
                }
            }
            

        }


        .announcements{
            grid-area: a;
        }

        .trending{
            grid-area: t;
        }

        //SIDE CONTAINERS
        .side-container{
            background-color: $offwhite;
            padding: 20px 15px;
            border-radius: 10px;

            .break{
                border: 1px solid $light-gray;
            }

            .side-container-item{
                padding: 5px;
                font-size: 1em;
                .item-header{
                    font-size: 1em;
                    font-weight: 600;
                }
                .profile-wrapper{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                        width: 2.5em;
                        border: 2px solid black;
                        border-radius: 25px;
                    }
                }
                
            }
            
        }
    }
}